@use './mixins' as *; // @import 조만간 지원 종료 예정 use쓸걸 권함.
// import는 소속을 명확히 알수 없어서 불편했으나 use는 mixins.bg-color 처럼, 소속.변수로 접근가능
// as * 변수가 겹치지 않는걸 확신할때, 소속 안 밝히고 쓰겠다고 선언함.
@use './variavles' as *;
// sass에서는 _없어도 가져오고, 확장자 없어도 가져옴.

html{
    font-size: 16px;
    
    @include respond(tablet){
        font-size: 14px;
    }
    @include respond(mobile){
        font-size: 12px;
    }
}

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: $bg-color;
    color: $text-color;
    line-height: 1.6; // 가지고 있는 폰트크기의 1.6배
}
a{
    text-decoration: none;
    color: $text-color;
}
ul{
    list-style: none;
}

